@page "/analyse"

@using WebLogAnalyser.Models

<div class="row" id="header">
    <div class="col">
        <RadzenUpload Accept="log/*.log" Url="upload/single" Progress="@((args) => OnProgress(args, "Single file upload"))" Complete=@OnComplete />
    </div>
    <div class="col">
        <RadzenProgressBar Value="@progress" Unit="@info" Visible="@(progress>0)" Style="margin-bottom:20px;" />
    </div>
    <div class="col">
        <RadzenButton Click="OnAnalyse" Text="Analyse" Style="margin-bottom: 20px; width: 150px" Disabled="@DisableAnaylse" />
    </div> 
</div>

<div class="row" id="body">
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true"
                    Data="@logFile?.LogEntries" TItem="LogEntry" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                    SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedEntries RowDoubleClick="DoubleClickCallBack"
                    RowRender="@RowRender" Style="height: 800px" AllowPaging="true" PageNumbersCount="10">
        <Columns>
            <RadzenDataGridColumn TItem="LogEntry" Property="Date" Filterable="false" Title="Date" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="LogEntry" Property="Type" Title="Type" Width="20px" />
            <RadzenDataGridColumn TItem="LogEntry" Property="Payload" Title="Payload" />
        </Columns>
    </RadzenDataGrid>
</div>
