@page "/dialogLinechartpage/1"

First entry: @Title
<div class="container">
    <div class="row">
        <div class="col">
            <label>Show Legend<RadzenCheckBox @bind-Value="@(showLegend)" Name="showLegend"></RadzenCheckBox></label>
            <RadzenChart>
                @foreach(var lineChart in lineCharts)
                {
                <RadzenLineSeries Data="@lineChart.Values" CategoryProperty="X" Title="@lineChart.Title" ValueProperty="Y" LineType="LineType.Solid" StrokeWidth="1">
                    <RadzenMarkers MarkerType="MarkerType.None" />
                    <RadzenValueAxis Step="100">
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                    <RadzenCategoryAxis Min="0" Max="@MaxX" Step="20">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" Visible="@showLegend" />
            </RadzenChart>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => DialogService.Close(true))" Text="OK" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>